<div class="entity-container">
  <div>
    <h2>Órdenes de Trabajo</h2>
    @if (!showCreateForm) {
    <button class="btn btn-primary" (click)="crearOrdenTrabajo()">
      Nueva Orden
    </button>
    }
  </div>

  @if (loading) {
  <div>Cargando...</div>
  } @if (error) {
  <div class="error-alert">{{ error }}</div>
  }

  <!-- Listado -->
  @if (!loading && !showCreateForm && !showOrdenDetalle) {
  <table class="entity-table">
    <thead>
      <tr>
        <th>Folio</th>
        <th>Cliente</th>
        <th>Estado</th>
        <th>Fecha Agendada</th>
        <th>Fecha de Termino</th>
        <th>Horas</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @if (ordenesTrabajos.length === 0) {
      <tr>
        <td colspan="7">Sin registros.</td>
      </tr>
      } 
      @else { 
        @for (o of ordenesTrabajos; track $index) {
          <tr>
            <td>{{ o.folio }}</td>
            <td>{{ o.cliente }}</td>
            <td>
              <span [class]="getEstadoClass(o.estado)">{{ o.estado }}</span>
            </td>
            <td>{{ o.fechaAgendada | date : "medium" }}</td>
            <td>{{ o.fechaFinalizado | date : "medium" }}</td>
            <td>{{ o.horasTrabajo }}</td>
            <td>{{ o.direccion }}</td>
            <td class="actions">
              @if (canSuspender(o)) {
                <button class="btn btn-small btn-danger" (click)="suspenderOrden(o)">
                  Suspender
                </button>
              }
              @if (canVerReporte(o)) {
                <button class="btn btn-small btn-info" (click)="verReporte(o)">
                  Ver Reporte
                </button>
              }

            </td>
          </tr>
        } 
      }
    </tbody>
  </table>
  }

  <!-- Formulario Crear -->

  @if (showCreateForm) {
  <app-orden-form
    [isEditMode]="false"
    (submitForm)="onCreateSubmit($event)"
    (cancelForm)="onCancelForm()"
  >
  </app-orden-form>
  }

  @if (showOrdenDetalle && selectedOrden) {
    <app-visor-reportes [orden]="selectedOrden" (closed)="onCloseReportes()"></app-visor-reportes>
  }
</div>
