<div class="form-container">
  <div class="form-header">
    <h3>{{ isEditMode ? 'Editar Empleado' : 'Crear Empleado' }}</h3>
  </div>

  <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()" class="form-body">
    
    <!-- RUT Field -->
    <div class="form-group">
      <label for="rut">RUT *</label>
      <input 
        type="text"
        id="rut" 
        class="form-control"
        formControlName="rut"
        maxlength="8"
        minlength="7"
        [readonly]="isEditMode"
        [class.readonly]="isEditMode"
        placeholder="Ej: 12345678">
      @if (empleadoForm.get('rut')?.invalid && empleadoForm.get('rut')?.touched) {
        <div class="error-message">
          @if (empleadoForm.get('rut')?.errors?.['required']) {
            El RUT es requerido
          }
          @if (empleadoForm.get('rut')?.errors?.['minlength'] || empleadoForm.get('rut')?.errors?.['maxlength']) {
            El RUT debe tener entre 7 y 8 dígitos
          }
        </div>
      }
      <label for="dv">DV</label>
      <input 
        type="text" 
        id="dv" 
        class="form-control"
        formControlName="dv"
        maxlength="1"
        [readonly]="isEditMode"
        [class.readonly]="isEditMode"
        placeholder="Ej: K">
      @if (empleadoForm.get('dv')?.invalid && empleadoForm.get('dv')?.touched) {
        <div class="error-message">
          @if (empleadoForm.get('dv')?.errors?.['required']) {
            El DV es requerido
          }
          @if (empleadoForm.get('dv')?.errors?.['pattern']) {
            El DV debe ser un único dígito (0-9 o K)
          }
          @if(empleadoForm.get('dv')?.errors?.['minlength']) {
            El DV debe tener 1 carácter
          }
          @if(empleadoForm.get('dv')?.errors?.['maxlength']) {
            El DV debe tener 1 carácter
          }
        </div>
      }
    </div>

    <!-- Nombre Field -->
    <div class="form-group">
      <label for="nombre">Nombre *</label>
      <input 
        type="text" 
        id="nombre" 
        class="form-control"
        formControlName="nombre"
        placeholder="Ingrese el nombre">
      @if (empleadoForm.get('nombre')?.invalid && empleadoForm.get('nombre')?.touched) {
        <div class="error-message">
          @if (empleadoForm.get('nombre')?.errors?.['required']) {
            El nombre es requerido
          }
          @if (empleadoForm.get('nombre')?.errors?.['minlength']) {
            El nombre debe tener al menos 2 caracteres
          }
        </div>
      }
    </div>

    <!-- Apellido Field -->
    <div class="form-group">
      <label for="apellido">Apellido *</label>
      <input 
        type="text" 
        id="apellido" 
        class="form-control"
        formControlName="apellido"
        placeholder="Ingrese el apellido">
      @if (empleadoForm.get('apellido')?.invalid && empleadoForm.get('apellido')?.touched) {
        <div class="error-message">
          @if (empleadoForm.get('apellido')?.errors?.['required']) {
            El apellido es requerido
          }
          @if (empleadoForm.get('apellido')?.errors?.['minlength']) {
            El apellido debe tener al menos 2 caracteres
          }
        </div>
      }
    </div>

    <!-- Dirección Field -->
    <div class="form-group">
      <label for="direccion">Dirección *</label>
      <input 
        type="text" 
        id="direccion" 
        class="form-control"
        formControlName="direccion"
        placeholder="Ingrese la dirección">
      @if (empleadoForm.get('direccion')?.invalid && empleadoForm.get('direccion')?.touched) {
        <div class="error-message">
          El dirección es requerida
        </div>
      }
    </div>

    <!-- Teléfono Field -->
    <div class="form-group">
      <label for="telefono">Teléfono *</label>
      <input 
        type="tel" 
        id="telefono"
        class="form-control" 
        formControlName="telefono"
        placeholder="Ej: +56912345678">
      @if (empleadoForm.get('telefono')?.invalid && empleadoForm.get('telefono')?.touched) {
        <div class="error-message">
          @if (empleadoForm.get('telefono')?.errors?.['required']) {
            El teléfono es requerido
          }
          @if (empleadoForm.get('telefono')?.errors?.['pattern']) {
            Formato de teléfono debe tener numeros de 8 a 9 digitos
          }
        </div>
      }
    </div>

    <!-- Comuna Field -->
    <div class="form-row">
      <div class="form-group">
        <label for="idComuna">Región / Comuna</label>
        <app-comuna-region-selector
          formControlName="idComuna">
        </app-comuna-region-selector>
        @if (empleadoForm.get('idComuna')?.touched && empleadoForm.get('idComuna')?.invalid) 
        {
          <div class="error-message">
            Seleccione una comuna.
          </div>
        }
      </div>
    </div>

    <!-- Estado Field -->
    <div class="form-row checkbox-container">
      <div class="checkbox-wrapper">
        <input 
          type="checkbox" 
          id="activo" 
          [checked]="empleadoForm.get('activo')?.value === 'S'"
          (change)="onCheckboxChange($event)">
        <label for="activo" class="form-label checkbox-label">Activo</label>
      </div>
    </div>

    <!-- Submit / Cancel buttons -->
    <div class="form-actions">
      <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="isSubmitting">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()" [disabled]="isSubmitting">Cancelar</button>
    </div>

  </form>
</div>
